.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
lib/DigisparkKeyboard
lib/DigisparkUSB
.idea
CMakeListsPrivate.txt
cmake-build-debug
*.pyc
/HID-Emulator/lib/DigisparkKeyboard/usbdrv.h
/HID-Emulator/lib/DigisparkUSB/examples/Echo/Echo.ino
/debug/sys
/debug/usb
.vscode
CMakeCache.txt
CMakeFiles/